{#
/**
 * @file
 * Default theme implementation to standard AddToAny buttons.
 *
 * Available variables:
 * - addtoany_html: HTML for AddToAny buttons.
 * - button_image: URL for universal button.
 * - button_setting: Setting of button.
 * - button_size: Size of buttons.
 * - universal_button_placement: Value of 'before' or 'after' to place button.
 * - link_url: Value of URL to share.
 * - link_title: Value of page title to share.
 *
 * @ingroup themeable
 */
#}
{# Remove whitespace between tags for even spacing between buttons. #}
  {% apply spaceless %}

    <div class="card mt-3">
      <div class="card-body p-2 bg-light">
        <div class="row">
          <div class="{{ apply_btn is empty ? 'col' : 'col-8' }}">
            <span class="a2a_kit a2a_kit_size_{{ buttons_size }} addtoany_list" data-a2a-url="{{ link_url }}"
                  data-a2a-title="{{ link_title }}">
              <a class="a2a_button_facebook"></a>
              <a class="a2a_button_twitter"></a>
              <a class="a2a_button_whatsapp"></a>
              <a class="a2a_button_telegram"></a>
              <a class="a2a_button_linkedin"></a>
            </span>
          </div>
          {% if apply_btn is not empty %}
            <div class="col-4 d-grid">
              <a href="{{ apply_btn.url }}" class="btn btn-sm btn-success" target="{{ apply_btn.target }}">{{ 'Apply'|t }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endapply %}
