{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
  This ensures that, if clean URLs are off, the 'q' is added first,
  as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}
<div class="row g-1">
  <div class="col-md-6">
    {{ form.filter_titles_field }}
  </div>
  <div class="col-md-4">
    {{ form.field_job_category_target_id }}
  </div>
  <div class="col-md-2">
    {{ form.actions }}
    {# Renders the rest of the form #}
    {{ form|without('filter_titles_field', 'field_job_category_target_id', 'actions') }}
  </div>
</div>
