<div class="panel">
  <h3 class="panel__title">{{ 'JIX Data Management'|t }}</h3>
  <div class="panel__content">
    <ul class="admin-list">
      <li>
        <a href="{{ path('jix_data.management.page') ~ '/jobs-management-board' }}">
          <span class="label">{{ 'Jobs management board'|t }}</span>
          <div class="description">{{ 'Board to manage jobs. Publish or unpublish jobs.'|t }}</div>
        </a>
      </li>
      <li>
        <a href="{{ path('jix_data.management.page') ~ '/employers-management-board' }}">
          <span class="label">{{ 'Employers management board'|t }}</span>
          <div class="description">{{ 'Board to manage employers. Publish or unpublish employers'|t }}</div>
        </a>
      </li>
      <li>
        <a href="{{ path('jix_data.management.page') ~ '/news-management-board' }}">
          <span class="label">{{ 'News management board'|t }}</span>
          <div class="description">
            {{ 'Board to manage @sitename news. Delete, publish or unpublish news'|t({'@sitename' : drupal_token('site:name')}) }}
          </div>
        </a>
      </li>
      <li>
        <a href="{{ path('jix_data.management.page') ~ '/applications-management-board' }}">
          <span class="label">{{ 'Job applications management board'|t }}</span>
          <div
            class="description">{{ 'Board to manage job applications. Filtering and exporting job applications'|t }}</div>
        </a>
      </li>
      <li>
        <a href="{{ path('jix_data.management.page') ~ '/testimonials-management-board' }}">
          <span class="label">{{ 'Testimonials management board'|t }}</span>
          <div class="description">{{ 'Board to manage testimonials.'|t }}</div>
        </a>
      </li>
    </ul>
  </div>
</div>
