<div class="card footer-block">
  <div class="card-header">
    <i class="fas fa-chart-bar"></i> {{ title }}
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item pt-1 pb-1 pl-0 pr-0 border-0">{{ 'Published jobs'|trans }} <span class="badge badge-pill badge-dark float-right">{{ jobs_count }}</span></li>
      <li class="list-group-item pt-1 pb-1 pl-0 pr-0 border-0">{{ 'Registered employers'|trans }} <span class="badge badge-pill badge-dark float-right">{{ employers_count }}</span></li>
      <li class="list-group-item pt-1 pb-1 pl-0 pr-0 border-0">{{ 'Registered job candidates'|trans }} <span class="badge badge-pill badge-dark float-right">{{ candidates_count }}</span></li>
    </ul>
  </div>
</div>
