<div class="text-center">
    <div class="text-white">Copyright <i class="far fa-copyright"></i> {{ year }} {{ drupal_token('site:name') }} - {{ owner }}. All Rights Reserved.</div>
    <div class="site-details">
        <a href="/page/terms-use">{{ terms }}</a> | <a
                href="/page/privacy-policy">{{ privacy }}</a> | <a href="/user">{{ admin }}</a>
    </div>
</div>
