<div class="card footer-block">
  <div class="card-header">
    <i class="fas fa-chart-bar"></i> {{ title }}
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-0" id="jobs-count">{{ 'Published jobs'|trans }} <span class="badge rounded-pill bg-dark">{{ jobs_count }}</span></li>
      <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-0" id="employers-count">{{ 'Registered employers'|trans }} <span class="badge rounded-pill bg-dark">{{ employers_count }}</span></li>
      <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-1 px-0" id="applications-count">{{ 'Registered job candidates'|trans }} <span class="badge rounded-pill bg-dark">{{ candidates_count }}</span></li>
    </ul>
  </div>
</div>
