{% set employer_attributes = create_attribute({
  'class': ['node--type-employer', 'node--view-mode-teaser'],
  'data-quickedit-entity-id': 'node/' ~ employer.nid.value
  })
%}
{% set isBlacklisted = employer.field_employer_invoicing_policy.value == 'blacklisted' and logged_in ? true: false %}
{% set classes = ['card', 'shadow-sm', 'bg-light', isBlacklisted ? 'border-danger' : 'border-light'] %}
<div{{ employer_attributes.addClass(classes) }}>
  <div class="row g-0">
    <div class="col-md-4 text-center align-self-center p-2 {{ isBlacklisted ? 'bg-danger' : '' }}">
      <img src="{{ employer.field_employer_logo.entity.uri.value | image_style('medium') }}"
           alt="{{ employer.field_employer_logo.entity.alt }}" class="rounded img-fluid">
    </div>
    <div class="col-md-8">
      <div class="card-body p-1">
        {% if pageNodeBundle == 'job' %}
          <a href="{{ path('entity.node.canonical', {'node': employer.nid.value}) }}">
            <h5 class="card-title">{{ employer.title.value }}</h5>
          </a>
        {% endif %}
        {% if employer.field_employer_summary is not empty %}
          <div class="employer-description" style="overflow: hidden">
            {{ employer.field_employer_summary.value | raw }}
          </div>
        {% endif %}

        {% if employer.field_employer_sector is not empty %}
          <dl class="row mb-1">
            <dt class="col-sm-4">{{ 'Sector'|t }}</dt>
            <dd class="col-sm-8">
              {% for sector in employer.field_employer_sector %}
                {{ sector.entity.name.value }}{% if not loop.last %}, {% endif %}
              {% endfor %}
            </dd>
          </dl>
        {% endif %}

        <dl class="row mb-0">
          <dt class="col-sm-4 mb-0">{{ 'Rate this employer'|t }}</dt>
          <dd
            class="col-sm-8 mb-0">{{ drupal_field('field_employer_rating', 'node', employer.nid.value, 'teaser') }}</dd>
        </dl>
        {% if isBlacklisted %}
          <span class="badge bg-danger">Blacklisted</span>
        {% endif %}
        <div class="card-footer border-0 p-1">
          <div class="row">
            <div class="col-8">
              {% if employer.field_employer_website is not empty %}
                <a href="{{ employer.field_employer_website.uri }}" target="_blank">
                  <p class="card-text">
                    <small class="text-muted">
                      <i class="fas fa-globe"></i> {{ employer.field_employer_website.uri }}
                    </small>
                  </p>
                </a>
              {% endif %}
            </div>
            <div class="col-4 d-flex justify-content-around">
              <a href="{{ employer.field_employer_facebook.uri }}" target="_blank" class="disabled"><i
                  class="fab fa-facebook"></i></a>
              <a href="{{ employer.field_employer_twitter.uri }}" target="_blank"><i
                  class="fab fa-twitter"></i></a>
              <a href="{{ employer.field_employer_linkedin.uri }}" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
