<div class="card border-primary sidebar-block">
  <div class="card-header bg-primary">{{ 'Similar jobs'|t }}</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      {% for jobWithPill in jobs %}
        {% set job = jobWithPill[0] %}
        {% set jobOfferType = jobWithPill[1] %}
        <li class="list-group-item p-0 border-0">
          <div class="card border-0 mb-1">
            {% set jobUrl = path('entity.node.canonical', {'node':job.id}) %}
            <div class="row g-0">
              <div class="col-2 d-flex justify-content-center mt-1">
                <a href="{{ jobUrl }}">
                  {% set logoUrl = job.field_job_employer.entity.field_employer_logo.entity.uri.value|default('public://default_images/no_logo.jpg') %}
                  <img
                    src="{{ logoUrl|image_style('small_50x50') }}"
                    class="mr-3" alt="{{ job.field_job_employer.entity.title.value }}">
                </a>
              </div>
              <div class="col-10">
                <div class="card-body px-2 py-0">
                    <a href="{{ jobUrl }}">
                      <h6 class="card-title">{{ job.title.value|truncate(60, true,'...') }}</h6>
                    </a>
                  <p class="card-text mb-1">
                    <i class="fas fa-map-marker-alt"></i> <strong>{{ job.field_job_city.value }}</strong> | Published
                    on {{ job.published_at.value|date("d/m/Y") }}
                    <br> Deadline {{ job.field_job_application_deadline.value|date("d/m/Y") }}
                    | {{ job.field_job_desired_experience.entity.name.value }}
                  </p>
                  {{ jobOfferType|raw }}
                </div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
