<html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="x-ua-compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Notification</title>
   <style type="text/css">
     dt {
       font-weight: bold;
     }

     dl, dd {
       font-size: .9rem;
     }

     dd {
       margin-bottom: 1em;
     }
   </style>
 </head>
  <body>
    <div>
      <p>{{ 'Dear @recipient' | t({'@recipient': recipient}) }}</p>
      <p>{{ 'A new job has been created, it is available here:' | t }}
        <a href="{{ drupal_url('node/' ~ job.id, {absolute: true}) }}">{{ drupal_url('node/' ~ job.id, {absolute: true}) }}</a>
      </p>

      <h4>{{ 'Job details' | t }}</h4>
      <dl>
        <dt>{{ job.title.fieldDefinition.label }}</dt> <dd>{{ job.title.value }}</dd>
        <dt>{{ job.field_job_posting_plan.fieldDefinition.label }}</dt> <dd>{{ job.field_job_posting_plan.value }}</dd>
        <dt>{{ job.field_job_category.fieldDefinition.label }}</dt> <dd>
          {% for category in job.field_job_category %}
            {{ category.entity.name.value }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </dd>
      </dl>
      <h4>{{ 'Invoicing details' | t }}</h4>
      <dl>
        <dt>{{ job.field_job_employer.entity.title.fieldDefinition.label }}</dt> <dd>{{ job.field_job_employer.entity.title.value }}</dd>
        <dt>{{ job.field_job_employer.entity.field_employer_email.fieldDefinition.label }}</dt> <dd>{{ job.field_job_employer.entity.field_employer_email.value }}</dd>
        <dt>{{ job.field_job_contact_name.fieldDefinition.label }}</dt> <dd>{{ job.field_job_contact_name.value }}</dd>
        <dt>{{ job.field_job_contact_phone.fieldDefinition.label }}</dt> <dd>{{ job.field_job_contact_phone.value }}</dd>
        <dt>{{ job.field_job_contact_email.fieldDefinition.label }}</dt> <dd>{{ job.field_job_contact_email.value }}</dd>
        <dt>{{ job.field_job_employer.entity.field_employer_tin_number..fieldDefinition.label }}</dt> <dd>{{ job.field_job_employer.entity.field_employer_tin_number.value }}</dd>
      </dl>
      <p>{{ 'The job offer needs validation before it appears to the public.' | t }}</p>
      <br>
      <p>{{ 'Best regards,' | t }} <br>{{ drupal_token('site:name') }}</p>
    </div>
  </body>
</html>
