<html lang="en">
  {% include '@jix_notifier/includes/header.html.twig' %}
  <body>
    <div>
      <p>{{ 'Dear @recipient' | t({'@recipient': recipient}) }}</p>
      <p>{{ 'Your advert has been received and is waiting to be validated once the payment is received' | t }} <br>
        {{ 'We will get back to you shortly with a quotation. Below is the summary of your advert information.' | t }}
      </p>

      <h4>{{ 'Job details' | t }}</h4>
      <dl>
        <dt>{{ job.title.fieldDefinition.label }}</dt> <dd>{{ job.title.value }}</dd>
        <dt>{{ job.field_job_posting_plan.fieldDefinition.label }}</dt> <dd>{{ job.field_job_posting_plan.value }}</dd>
        <dt>{{ job.field_job_category.fieldDefinition.label }}</dt> <dd>
          {% for category in job.field_job_category %}
            {{ category.entity.name.value }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </dd>
      </dl>
      <h4>{{ 'Invoicing details' | t }}</h4>
      <dl>
        <dt>{{ job.field_job_employer.entity.title.fieldDefinition.label }}</dt> <dd>{{ job.field_job_employer.entity.title.value }}</dd>
        <dt>{{ job.field_job_employer.entity.field_employer_email.fieldDefinition.label }}</dt> <dd>{{ job.field_job_employer.entity.field_employer_email.value }}</dd>
        <dt>{{ job.field_job_contact_name.fieldDefinition.label }}</dt> <dd>{{ job.field_job_contact_name.value }}</dd>
        <dt>{{ job.field_job_contact_phone.fieldDefinition.label }}</dt> <dd>{{ job.field_job_contact_phone.value }}</dd>
        <dt>{{ job.field_job_contact_email.fieldDefinition.label }}</dt> <dd>{{ job.field_job_contact_email.value }}</dd>
        {% if job.field_job_employer.entity.field_employer_tin_number is not empty %}
          <dt>{{ job.field_job_employer.entity.field_employer_tin_number.fieldDefinition.label }}</dt> <dd>{{ job.field_job_employer.entity.field_employer_tin_number.value }}</dd>
        {% endif %}
      </dl>
      <br>
      {% include '@jix_notifier/includes/footer.html.twig' %}
    </div>
  </body>
</html>
